<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="user" type="java"*/-->


<div>
    <table border="3">
        <th:block th:each="user:${userscrud}">
            <tr>
                <td>
                    <a th:href="@{/deleteUser(userId=${user.id})}">
                        <button value="delete">delete</button>
                    </a>
                    <a th:href="@{/editUser(id=${user.id})}">
                        <button value="edit">edit</button>
                    </a>
                </td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.character}"></td>
                <td th:text="${user.age}"></td>
            </tr>

            <!--<input type="button" name="delete" value="delete">-->
            <!--<form id = "formEd">  <input type="button" name="getUserIdByEdit" value="getUserIdByEdit"></form>-->

        </th:block>
    </table>
</div>

<form id="addForm" th:action="@{/}" th:object="${user}" th:method="post">
    <label>Name</label>
    <input type="text" name="name">
    <label>character</label>
    <input type="text" name="character">
    <label>Age</label>
    <input type="text" name="age">
    <div>
        <button id="add" type="submit">Add user</button>
    </div>
</form>

</body>

</html>