<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">-->
<!DOCTYPE html>
<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="user" type="java"*/-->
<div>
    <table border="3">
            <tr th:each="users:${userscrud}">
                <td>
                    <a th:href="@{/admin/deleteUser(userId=${user.id})}">
                        <button value="delete">delete</button>
                    </a>
                    <a th:href="@{/admin/editUser(id=${user.id})}">
                        <button value="edit">edit</button>
                    </a>
                </td>
                <td th:text="${users.id}"></td>
                <td th:text="${users.name}"></td>
                <td th:text="${users.age}"></td>
            </tr>

            <!--<input type="button" name="delete" value="delete">-->
            <!--<form id = "formEd">  <input type="button" name="getUserIdByEdit" value="getUserIdByEdit"></form>-->

    </table>
</div>


</body>

</html>
