<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="user" type="java"*/-->
<div>
    <table border="3">
            <tr th:each="user:${userscrud}">
                <td>
                    <a th:href="@{/admin/deleteUser(userId=${user.id})}">
                        <button value="delete">delete</button>
                    </a>
                    <a th:href="@{/admin/editUser(id=${user.id})}">
                        <button value="edit">edit</button>
                    </a>
                    <a th:href="@{/admin/addRoleAdmin(userId=${user.id})}">
                        <button value="addRole">addRoleAdmin</button>
                    </a>
                </td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.roleList}"></td>
            </tr>

            <!--<input type="button" name="delete" value="delete">-->
            <!--<form id = "formEd">  <input type="button" name="getUserIdByEdit" value="getUserIdByEdit"></form>-->

    </table>
</div>
<a th:href="@{/logout}">
    <button value="logout">logout</button>
</a>

</body>

</html>
</html>